*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
  }
body{
    font-family: "Poopins" , sans-serif;
    background-color: rgba(169, 169, 169, 0.564);
}

.header{
    position: relative;
      min-height: 10vh;
    background-color: cadetblue;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
      
.logo{
    background-image: url("zizurz.png");
    background-size: cover;
     height: 230px;
     width: 40%;
     margin-top: 3rem;
     margin-left: 2rem; 
}
a{
  text-decoration: none;
  border: 5px solid #022a3d;
  border-radius: 5px;
  background-color:#022a3d;
  color: white;
  margin-left:7rem ;
  padding: 4px6px;
  font-size: 1.30rem;
}
.container{
    max-width: 1200px;
    margin-left:7rem ;
    width: 80%;
  }
  
.nav{
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
     align-items: center;
     
 }
 .nav-items{
    width: 40%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
 }

.hairstyle{
    border: 2px solid aqua;
    height: 39.50vh;
    width: 80%;
    margin-top: 3rem;
    margin-right: 10rem;
    margin-left: 12rem;
    background-color: white; 
}
.kes{
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 10rem;
  margin-left: 16rem;
  color: #0e4c69; 
}
.box-image{
   display: inline-block;
   font-size: 1.50rem;
   background-image: url('file1.jpg');
   min-height: 100vh;
   width: 100%;
 
   background-repeat: no-repeat;
 
 }
.design{
  display: flex;
 
  margin-left: 2rem;

  
}
.hair{
  border: 5px solid aqua;
  height: 260px;
  width: 16%;
  margin-top: 3rem;
  margin-left: 10rem;
  position: relative;
}
.hair1{
  border: 5px solid aqua;
  height: 260px;
  width: 16%;
  margin-top: 3rem;
  margin-left: 8rem;
  position: relative;
}
.hair2{
  border: 5px solid aqua;
  height: 260px;
  width: 16%;
  margin-top: 3rem;
  margin-left: 6rem;
  position: relative;
}
.hair3{
  border: 5px solid aqua;
  height: 260px;
  width: 16%;
  margin-top: 3rem;
  margin-left: 6rem;
  position: relative;
}
.hair-image{
  height: 250px;
  background-size: cover;
  font-size: 2rem;
}
.vinit{
  display: inline-block;
  font-size: 1.25rem;
  padding: 4px 6px;
}
p{
  padding: 10px 10px;
  display: flex;
  justify-content: space-ar;
  
}
.details{
  display: flex;
  justify-content: space-evenly;
  margin-top: 14rem;
}
 .box1{
    border: 5px solid aqua;
    height: 80vh;
    width: 40%;
     background-color: white;

   }
.ros{
    border: 5px solid #022a3d;
    border-radius: 0.50rem;
    font-size: 2rem;
    background-color: #022a3d;
    margin-left: 1rem;
    margin-right: 36.50rem;
    color: white;
  }
.image1{
    height: 10vh;
    width: 20%;
   margin-top: 2rem;
   margin-left: 2rem;
   background-repeat: no-repeat;
  }
  pre{
    margin-top: 2rem;
    margin-left: 8rem;
    font-size: 1.50rem;
    color: #022a3d;
  }
  .pri{
    display: inline-block;
    margin-top: 2rem;
    padding: 10px 10px;
  }
  
.box2{
    border: 5px solid aqua;
    height: 40vh;
     width: 30%;
     background-color:cadetblue;

   }
 .rosh{
    border: 5px solid #022a3d;
    border-radius: 0.50rem;
    font-size: 2rem;
    background-color: #022a3d;
    margin-left: 1rem;
    margin-right: 25rem;
    color: white;
  
  }
  .prin{
    display: inline-block;
    margin-top: 2rem;
    justify-content: space-evenly;
    color: white;
    font-size:1.25rem;
  }
  .box3{
    border: 5px solid aqua;
    margin-top: 8rem;
    height: 26.30vh;
    width: 100%;
    background-color:cadetblue;

   }
   .image2{
   height: 60vh;
   width: 85%;
   background-repeat: no-repeat;
   display: inline-block;
   }
   .shub{
   margin-top: 2rem;
   margin-left: 11rem;
   margin-bottom: 1rem;
   font-size: 1.4rem;
   color: white;
   }
  .lak{
    position: relative;
    min-height: 20vh;
    background-color: cadetblue;
    margin-top: 6rem;
    padding: 4px 8px;
    background-size: cover;
  }
.end{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 5rem;
} 

